a {
	color: #333;
}
#nav {
	margin: 0;
	padding: 7px 6px 0;
	background: #CFB4CE repeat-x 0 -110px;
	line-height: 100%;

	border-radius: 2em;
	-webkit-border-radius: 2em;
	-moz-border-radius: 2em;

	-webkit-box-shadow: 0 20px 60px rgba(80,80,80,80);
	-moz-box-shadow: 0 3px 6px rgba(80,80,80,80);
}
#nav li {
	margin: 0 5px;
	padding: 0 0 8px;
	float: left;
	position: relative;
	list-style: none;
}


/* main level link */
#nav a {
	font-weight: bold;
	font-size: 12px;
	color: #D70D0D;
	text-decoration: none;
	display: block;
	padding:  8px 20px;
	margin: 0;

	-webkit-border-radius: 1.6em;
	-moz-border-radius: 1.6em;
	
	text-shadow: 0 1px 2px rgba(0,0,0, .3);
}
#nav a:hover {
	background: #000;
	color: #fff;
}

/* main level link hover */
#nav .current a, #nav li:hover > a {
	background: #B83FB8 repeat-x 0 -40px;
	color: #000000;
	border-top: solid 1px #FEDDA9;

	-webkit-box-shadow: 0 1px 1px rgba(80,80,80,80);
	-moz-box-shadow: 0 1px 1px rgba(80,80,80,80);
	box-shadow: 0 1px 1px rgba(80,80,80,80);

	text-shadow: 0 1px 0 rgba(80,80,80,80);
}

/* sub levels link hover */
#nav ul li:hover a, #nav li:hover li a {
	background: none;
	border: none;
	font-weight: bold;
	font-size: 12px;
	color: #D70D0D;

	-webkit-box-shadow: none;
	-moz-box-shadow: none;
}
#nav ul a:hover {
	background: #FEDDA9 repeat-x 0 -100px !important;
	color: #000000 !important;

	-webkit-border-radius: 0;
	-moz-border-radius: 0;

	text-shadow: 0 1px 1px rgba(0,0,0, .1);
}

/* dropdown */
#nav li:hover > ul {
	display: block;
}

/* level 2 list */
#nav ul {
	display: none;

	margin: 0;
	padding: 0;
	width: 185px;
	position: absolute;
	top: 35px;
	left: 0;
	background: #FCF2E3 repeat-x 0 0;
	border: solid 1px #b4b4b4;

	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;

	-webkit-box-shadow: 0 1px 3px rgba(0,0,0, .3);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0, .3);
	box-shadow: 0 1px 3px rgba(0,0,0, .3);
	z-index:1;
}
#nav ul li {
	float: none;
	margin: 0;
	padding: 0;
	z-index:1;
}

#nav ul a {
	font-weight: normal;
	text-shadow: 0 1px 0 #fff;
	z-index:1;
}

/* level 3+ list */
#nav ul ul {
	left: 181px;
	top: -3px;
	z-index:1;
}

/* rounded corners of first and last link */
#nav ul li:first-child > a {
	-webkit-border-top-left-radius: 9px;
	-moz-border-radius-topleft: 9px;

	-webkit-border-top-right-radius: 9px;
	-moz-border-radius-topright: 9px;
}
#nav ul li:last-child > a {
	-webkit-border-bottom-left-radius: 9px;
	-moz-border-radius-bottomleft: 9px;

	-webkit-border-bottom-right-radius: 9px;
	-moz-border-radius-bottomright: 9px;
}

/* clearfix */
#nav:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
#nav {
	display: inline-block;
} 
html[xmlns] #nav {
	display: block;
}
 
* html #nav {
	height: 1%;
}